body{
    font-family: 'Roboto, Source Sans Pro', sans-serif;
    margin: 0%;
}
h1{
    font-family: 'Roboto';
    color: rgb(255, 0, 119);
    font-size: 30px;
    font-weight: 700;
    
}
h2{
    font-family: 'Source Sans Pro';
}

p{
    color: rgb(134, 134, 134);
}
.info{
    width: 35%;
    float: left;
    margin-left: 12%;
    margin-top: 150px;
    
    
    
}
.info img{
    width: 100%;
    margin-left: -150px;
    margin-top: -80px; 
}

.background{
    background-image: url("img/header-bg.png") ;
    background-size: cover;     
}
section{
    height: 600px;

}
.button{
        background-color: #f7005f; 
        border-radius: 2px;
        color: rgb(255, 255, 255);
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
.button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      }
.backgroundtwo{
    background-image: url("img/biography-bg.png") ;
    background-size: cover; 
}

.infotwo{
    width: 35%;
    float: left;
    margin-left: 12%;
    margin-top: 100px;
}
.infotwo img{
    height: 500px;
    margin-left: 140px;
    margin-top: -50px;
}
.workimg{
    float: left;
    width: 25%;
    margin: 50px;
    margin-left: 60px;
}
.workimg img{
    width: 100%;
}
.workimg img:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
  }


